/* Reset default margins and padding */
body, h2 {
  margin: 0;
  padding: 0;
}

/* Set a background color and text color for the body */
body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  color: #333;
}

/* Style the signup container with default styles */
.signup-container {
  text-align: center;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
}

/* Style the input text box with default styles */
.input-text {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Style the sign-in button with default styles */
.sign-in-btn {
  padding: 10px 20px;
  background-color: #0074d9;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Style the mainChat container with default styles */
#mainChat {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  max-width: 800px;
}

/* Style the chatArea textarea with default styles */
#chatArea {
  font-size: 20px;
  width: 100%;
  height: 400px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  overflow-y: scroll;
}

/* Style the msgInput and SubmitMsg button with default styles */
#msgInput,
#SubmitMsg {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

#SubmitMsg {
  background-color: #0074d9;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Center align the text within the wrapper div with default styles */
.wrapper {
  text-align: center;
  margin: 15px 0;
}

/* Media query for smaller screens (up to 767px) */
@media (max-width: 767px) {
  /* Adjust styles for smaller screens here */
  .signup-container {
    padding: 20px;
  }
  .input-text {
    width: 100%;
  }
}

/* Media query for larger screens (768px and above) */
@media (min-width: 768px) {
  /* Adjust styles for larger screens here */
  .signup-container {
    background-color: #ffffff;
    padding: 40px;
  }
  .input-text {
    width: 80%;
  }
}
h2{
  display: inline
}